<form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <h1>Dynamic Form</h1>

    <div *ngFor="let field of formFields">
        <label>{{ field.label }}</label>

        <ng-container [ngSwitch]="field.inputType">
            <input *ngSwitchCase="'text'" [type]="field.inputType" [formControlName]="field.name" />
            <input *ngSwitchCase="'email'" [type]="field.inputType" [formControlName]="field.name" />
            <input *ngSwitchCase="'password'" [type]="field.inputType" [formControlName]="field.name" />
            <select *ngSwitchCase="'select'" [formControlName]="field.name">
                <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</option>
            </select>
        </ng-container>

        <span *ngIf="form.get(field.name)?.hasError('required') && form.get(field.name)?.touched">
            {{ field.label }} is required.
        </span>

        <span *ngIf="form.get(field.name)?.hasError('minlength') && form.get(field.name)?.touched">
            {{ field.label }} must be at least {{ field.validatorList.minLength }} characters.
        </span>

        <span *ngIf="form.get(field.name)?.hasError('maxlength') && form.get(field.name)?.touched">
            {{ field.label }} cannot exceed {{ field.validatorList.maxLength }} characters.
        </span>
    </div>

    <button type="submit" [disabled]="form.invalid">Submit</button>
</form>

<div *ngIf="submittedValues">
    <h2>Submitted Values</h2>
    <p>First Name: {{ submittedValues.firstName }}</p>
    <p>Last Name: {{ submittedValues.lastName }}</p>
    <p>Gender: {{ submittedValues.gender }}</p>
    <p>Email: {{ submittedValues.email }}</p>
</div>